{% extends 'base.html' %}
{% block content %}

<h1>Aircraft Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ aircraft.make }}</span>
                <!-- change: span around title  -->
                <p><span class="highlight">Manufacturer:</span> {{ aircraft.manufacturer }}</p>
                <p>Role: {{ aircraft.role }}</p>
                <p>Service years: {{ aircraft.service_years }}</p>
                <p>Length: {{ aircraft.length_m }}</p>
                <p>Wingspan: {{ aircraft.width_m }}</p>
                <p>Height: {{ aircraft.height_m }}</p>
                <p>Powerplant: {{ aircraft.powerplant }}</p>
                <p>Max Speed (km/h): {{ aircraft.max_speed_kmh }}</p>
                <p>Cruise Speed (km/h): {{ aircraft.cruise_speed_kmh }}</p>
                <p>Range (km): {{ aircraft.range_km }}</p>
                <p>Max Altitude (km): {{ aircraft.max_altitude_m }}</p>
                <p>Armament/ Capacity: {{ aircraft.capacity|linebreaks }}</p>
                <div class="card-action">
                    <a href="{% url 'aircraft_update' aircraft.id %}">Update</a>
                    <a href="{% url 'aircraft_delete' aircraft.id %}">Decommision</a>
                </div>      
            </div>
          </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_maintain' aircraft.id %}" method="POST">
            {% csrf_token %}
            {{ maintain_form.as_p }}
            <input type="submit" class="btn orange" value="Assign Task">
        </form>
        <br>
        {% if aircraft.maintain_today %}
            <div class="card-panel center-align">{{aircraft.make}} is fully maintained and ready to fly.</div>
        {% else %}
            <div class="card-panel red-text center-align">{{ aircraft.make }} requires maintainance</div>
        {% endif %}
        <table class="striped">
          <thead>
            <tr><th>Date</th><th>Maintainance Task</th></tr>
          </thead>
          <tbody>
            {% for maintainance in aircraft.maintainance_set.all %}
              <tr>
                <td>{{maintainance.date}}</td>
                <td>{{maintainance.get_maintain_display}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>    
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ aircraft.make }} is based in:</h3>
    {% if aircraft.airbases.count %}
      {% for airbase in aircraft.airbases.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
                {{ airbase.airbase_name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'remove_airbase' aircraft.id airbase.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn purple darken-2">Withdraw</button>
            </form>
          </div>           
        </div>
      {% endfor %}
    {% else %}
      <h5>No airbases</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Airbases</h3>
    {% if airbases.count %}
      {% for airbase in airbases.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
                {{ airbase.airbase_name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_airbase' aircraft.id airbase.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn light-blue">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{cat.name}} Already At All Airbases Available</h5>
    {% endif %}
  </div>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    const selectEl = document.getElementById('id_maintain');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}